[project]
	description = Kernel for msm8226
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rob Thompson (robt77)
[access "refs/for/refs/*"]
	read = group user/Rob Thompson (robt77)
	push = group user/Rob Thompson (robt77)
	label-Code-Review = -2..+2 group user/Rob Thompson (robt77)
	label-Verified = -1..+1 group user/Rob Thompson (robt77)
	rebase = group user/Rob Thompson (robt77)
	removeReviewer = group user/Rob Thompson (robt77)
	submit = group user/Rob Thompson (robt77)
[access "refs/heads/*"]
	read = group user/Rob Thompson (robt77)
	create = group user/Rob Thompson (robt77)
	push = +force group user/Rob Thompson (robt77)
	pushMerge = group user/Rob Thompson (robt77)
[access "refs/tags/*"]
	push = +force group user/Rob Thompson (robt77)
	pushTag = group user/Rob Thompson (robt77)
	pushSignedTag = group user/Rob Thompson (robt77)
